<h1>User Page</h1>
<p>On Progress</p>
<h2>Navigation Button</h2>
<%= link_to 'Home', root_path %>
<br>
<br>

<h2>Content</h2>
<% if !@user.agreement.nil? %>
  <p>
    Company : <%= @user.company.company_name %> <br>
    Role : <%= @user.agreement.role %> <br>
  </p>
<% end %>

<p>
  User ID : <%= @user.id %> <br>
  Name : <%= @user.username %> <br>
  Email : <%= @user.email %> <br>
  Date of Birth : <%= @user.date_of_birth %> <br>
  Address : <%= @user.address %> <br>
  Phone : <%= @user.phone %> <br>
</p>

<% if @user == current_user %>
  <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
    <button>Edit Profile</button>
  </a>
<% end %>